body {
    background: orange;
    text-align: center;
  }
  
  h1 {
    font-family: sans-serif;
    font-size: 40px;
  }
  
  p {
    color: red;
  }

  .formdesign {
    padding: 20px;

}

.formdesign input {
    padding: 10px;
    border-radius: 10px;
    
}